@model IEnumerable<Notification>

@if (!Model.Any())
{
    <li class="dropdown-item text-muted" id="noNotificationsItem">
        No notifications
    </li>
}
else
{
    foreach (var n in Model)
    {
        <li class="dropdown-item d-flex justify-content-between align-items-center fw-bold" data-id="@n.Id">
            <a href="@n.Link" class="text-dark text-decoration-none flex-grow-1 me-2">@n.Message</a>
            <button type="button"
                    class="btn btn-sm mark-as-read"
                    data-bs-toggle="tooltip"
                    title="Mark as read">
                <i class="bi bi-check2"></i>
            </button>
        </li>
    }
}
