@model IEnumerable<Notification>

@foreach (var n in Model.OrderByDescending(n => n.CreatedAt))
{
    <li class="dropdown-item @(n.IsRead ? "" : "fw-bold")">
        <a href="@n.Link" class="notification-link" data-id="@n.Id">
            @n.Message
        </a>
        <button type="button" class="btn btn-sm btn-outline-success mark-as-read" title="Mark as read">
            <i class="bi bi-check2"></i>
        </button>
    </li>
}
