@model IEnumerable<Notification>

@foreach (var n in Model.OrderByDescending(n => n.CreatedAt))
{
    <li class="dropdown-item @(n.IsRead ? "" : "fw-bold")">
        <a href="@n.Link" class="notification-link" data-id="@n.Id">
            @n.Message
        </a>
        <button type="button"
                class="btn btn-sm mark-as-read"
                data-bs-toggle="tooltip"
                title="Mark as read"
                style="margin-left:10px;">
            <i class="bi bi-check2"></i>
        </button>

    </li>
}


