@model RestaurantReservationSystem.ViewModels.HomePageVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Welcome to Our Restaurant Reservation System</h1>
        <p class="lead">Stay updated on today's reservations and table availability!</p>
    </div>

    <button asp-action="Create" class="btn" asp-controller="Reservation" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Make a reservation">
        <i class="fa fa-plus"></i> Make a Reservation Now
    </button>

    <div class="row">
        <!-- Total Reservations Today Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-white">Reservations Today</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.TotalReservationsToday</h5>
                    <p class="card-text">Reservations made for today.</p>
                </div>
            </div>
        </div>

        <!-- Available Tables Card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-white">Available Tables</div>
                <div class="card-body ">
                    <h5 class="card-title">@Model.AvailableTables</h5>
                    <p class="card-text">Tables currently available for reservation.</p>
                </div>
            </div>
        </div>

        <!-- Reservations This Week Card -->
        <div class="col-md-4">
            <div class="card mb-3">
        
                <div class="card-header text-white">Reservations This Week</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.ReservationsThisWeek</h5>
                    <p class="card-text">Total reservations made for this week.</p>
                </div>
            </div>
        </div>
</div>

<style>
    h1,p{
        color:#fff;
        font-weight:bold;
    }
    .card-header{
            background-color: #6A1B9A;
    }
    .card-body{
            color: #6A1B9A;
    }
    .card{
        border:none;
    }
    .btn{
            background-color: #6A1B9A;
            border-radius:5px;
            color:#fff;
          margin-bottom:10px;
            
    }

        .btn:hover{
            color:#fff;
        }
</style>

    @section Scripts {
        <script type="text/javascript">
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        </script>
    }

   
